@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


body, html{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
    
}
.red{
    color: rgb(229, 198, 162);
}

.wrapper{
    width: 960px;
    margin: 0 auto;

}
.hero-banner{
    margin: 0 auto;
    background-color: #007FFF;
    min-height: 70vh;
    padding: 50px 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

h1{
font-weight: 800px;
font-size: 50px;
margin-left: 30px !important;
}

h2{
    font-weight: 800px;
    font-size: 50px;
    margin: 0 30px;
}

h4{
font-weight: bold;
font-size: 20px ;
margin-top: 0;
margin-left: 30px !important;
}

h3{
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px !important;
}

p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 30px;
}


.hero-banner h4, h1, h3{
    color: white;
}


a.cta, button.cta{
font-size: 30px;
font-weight: bold;
color: white;
background-color: #007FFF;
display: inline-block;
box-shadow: 0 0 0 10px rgba(0, 127, 255, .15) ;
margin-left: 30px !important;
padding: 20px 30px;
border-radius: 10px;
border: none;
outline: none;
text-decoration: none;

cursor: pointer;
}

a.cta:active, button.cta:active{
    opacity: .7;
}

a.cta.alt, button.cta.alt{
  color: #111111;
background-color: #ffd400;
border-color: rgba(0, 0, 0, .15);
box-shadow: 0 0 0 10px rgba(0, 0, 0, .15);
margin: 0 auto;
}

.character1{
    background: url(characters/circle-guy.png) no-repeat 0 0 ;
background-size: contain;
width: 363px;
height: 344px;
position: absolute; 
top: 42px;
right: 110px;
transform: rotate(15deg);
}

.character2{
    background: url(characters/eish-guy.png) no-repeat 0 0;
    background-size: contain;
width: 309px;
height: 371px;
position: absolute;
top: 161px;
right: 125px;
z-index: 2;
}

.character3{
    background: url(characters/hat-guy.png) no-repeat 0 0;
    background-size: contain;
width: 297px;
height: 286px;
position: absolute; top: 150px;
right: 252px;
}

nav{
    
height: 100px;
background-color: white;
box-shadow: 0 5px 8px rgba(0, 0, 0, .20);  /*so this means 0px on the X axis, 5px on the Y axis, so 5px down and 8 px blur*/
position: sticky;
top: 0;
z-index: 1;
}

nav ul {
    margin:0 20px 0 0 ;
    padding: 0;
}

.logo{  
    
    display: block;
    width: 300px;
    height: 40px;
    position: absolute;
    top: 30px;  
    background: url(characters/logo.png) no-repeat 0 0 ;
background-size: contain;
overflow: hidden;
text-indent: -999px;
margin: 0 30px;
}

nav ul li{
margin: 0;
padding: 0;
display: block;
float: right;
}

nav ul li a{
    display: block;
height: 100%;
box-sizing: border-box;
font-size: 30px;
text-transform: uppercase;
font-weight: bold;
color: #111111;
text-decoration: none;
padding: 35px 20px;
line-height: 30px;

}

.more-info{
    margin: 3% 0;
    text-align: center;
    line-height: normal;
}

.more-info p {
    margin: 3% 0 3% 0 ;
}

.highlight{
    background-color: #ffadf9;
    color: #ff3300;
    padding: 5px 10px;
line-height: 50px;
display: inline;
font-weight: 800px;

}

.nb-list{
    width: 470px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #ededed;
float: left;
margin: 0 20px 20px 0;
position: relative;
}

.nb-list li {
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
padding: 6px 20px;
box-sizing: border-box;

}

.nb-list li.red{
    background-color: #ff3300;

}

.nb-list li.blue{
    background-color: #007FFF;
}

.nb-list li.gray{
    background-color: rgba(0, 0, 0, .1);

}

.nb-list li.yellow{
    background-color: #ffd400;
    color: #111111;
}

.nb-list li.pink{
    background-color: #ffadf9;
}

.nb-list li.salmon{
    background-color: #fa8072;
}

.nb-list li.dragging{
    position: absolute;
    top: 87px;
    left: 70px;
    right: -8px;
    transform: rotate(6deg);
    box-shadow: 0 2px 14px rgba(0, 0, 0, .3)
}

.nb-list li.dragging::after{
content: '';
display: block;
position: absolute;
width: 54px;
height: 50px;
background: url(characters/cursor-grabbed.svg);
background-size: 100%;
bottom: -22px;
left: 60%;

} 

.story h3{
    font-size: 40px;
    color: #111111;
    font-weight: 800px;
}


.sep{
    width: 470px;
    height: 10px;
    background-color: #111;
    margin: 70px auto;
}


.gang-img{
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, .4);
    margin: 85px 0 45px;
    font-weight: bold;

}

.popup{
display: none;




}





/* you can copy and paste the html in here, while you reference the elements, so you don't have to go back and forth to check. I've done so for both the hero banner and the navigarion. Just paste it into comments so you know what you are referencing. */

/* <div class="popup">
<div class="blanket"></div>
<div class="content">
    <h2>Fill in Your Details</h2>
    <form action="">
        <div class="item">
        <label>Your First Name</label>
        <input type="text" placeholder="Ivan">
        </div>
        <div class="item">
            <label>Your Last Name</label>
            <input type="text" placeholder="Ivanov">
            </div>
            <div class="item">
                <label>Your Favourit Color</label>
                <input type="text" placeholder="Red">
                </div>
                <div class="item">
                    <label>Your Favourite Food</label>
                    <input type="text" placeholder="Pasta">
                    </div>
                    <button class="cta">I want to Sign Up!</button>
    </form>
<button class="close">Close</button>

</div>

</div>

*/